.content{
    position: absolute;
    left: 10px;
    bottom: 10px;
    top:85px;  
    border-radius: 10px;
    margin-top: 0;
    width: 1500px;
    box-shadow: 5px 5px 5px rgb(243, 209, 249);
    height: 650px;
    /* background: linear-gradient(#bbfd98f5,white);     */
    background-color: white;
}
h2{
    margin-left: 40px;
    font-size: 28px;
    position: relative;
    left: -20px;
    top:10px;
    text-align: center;
    color: rgba(216, 20, 180, 0.764);
}
.tabledata{
    position: absolute;
    left: 20px;
    top:90px;
    border: 1px solid;
    background-color: white;
    width: 1460px;
    border: 1px solid rgb(234, 154, 248);
}
.tdnm{
    font-size: 20px;
    border: 1px solid rgb(234, 154, 248);
}
.tddata
{
    width: 90px;
}